/*                  EVERYTHING */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*                  TYPE OF CONTAINERS */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* align-items: center; */
    font-family: 'Calculator', sans-serif;
    background-color: #292929;
}

button {
    border: 2px solid black;
    font-size: 50px;
    font-family: 'Calculator', sans-serif;
    transition: all .07s ease;

}



/*                  HEADER-CONTAINER */

.header-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.header {
    text-align: center;
    max-width: 480px;
    padding: 8px;
    color: black;
    font-size: 90px;
    background-color: rgb(255,255,0);
    border-radius: 5px;
    margin-bottom: 16px;
    margin-top: 16px;
}

/*                  GRID CONTAINER */

.container {
    display: grid;
    max-width: 420px;
    /* border: 1px solid dimgray; */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: 
      "display display display display"
      "clear clear clear divide"
      "seven eight nine multi"
      "four five six minus"
      "one two three plus"
      "nada nada nada equal";

}

/*                 CLASSES FOR BUTTONS */

.fnct {
    background-color: rgb(130,91,255);
    color: white;
}

.number {
    background-color: #1E2225;
    color: white;
}

.pressed {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 1rem white;
}


/*                 GRID ITEMS */

/* DISPLAY ITEM */

.item-display {
    font-family: 'Calculator', sans-serif;
    grid-area: display;
    background-color: white;
    color: black;
    padding-right: 8px;
    text-align: end;
    font-size: 80px;
}

/* NUMBER ITEMS */

.item-0 {
    grid-area: nada;
}
.item-1 {
    grid-area: one;
}
.item-2 {
    grid-area: two;
}
.item-3 {
    grid-area: three;
}
.item-4 {
    grid-area: four;
}
.item-5 {
    grid-area: five;
}
.item-6 {
    grid-area: six;
}
.item-7 {
    grid-area: seven;
}
.item-8 {
    grid-area: eight;
}
.item-9 {
    grid-area: nine;
}

/* OPERATOR ITEMS */

.item-equal {
    grid-area: equal;
    background-color: rgb(255,255,0);
    color: black;
}
.item-add {
    grid-area: plus;
}
.item-subtract {
    grid-area: minus;
}
.item-multiply {
    grid-area: multi;
}
.item-divide {
    grid-area: divide;
}
.item-clear {
    grid-area: clear;
}

/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255,255,0);
    text-align: center;
    font-size: 24px;
}