/* EVERYTHING */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TYPE OF CONTAINERS */

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Calculator', sans-serif;
    background-color: #292929;
}

button {
    border: 2px solid black;
    font-size: 50px;
    font-family: 'Calculator', sans-serif;

}

/* HEADER-CONTAINER */

.header-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    text-align: center;
    padding: 16px;
    color: black;
    font-size: 100px;
    background-color: #DEB835;
    margin-bottom: 16px;
}

/* GRID CONTAINER */

.container {
    display: grid;
    width: auto;
    /* border: 1px solid dimgray; */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: 
      "display display display display"
      "clear clear clear divide"
      "seven eight nine multi"
      "four five six minus"
      "one two three plus"
      "nada nada nada equal";

}

/* CLASSES FOR BUTTONS */

.fnct {
    background-color: rgb(130,91,255);
    color: white;
}

.number {
    background-color: #1E2225;
    color: white;
}


/* GRID ITEMS */

.item-display {
    font-family: 'Calculator', sans-serif;
    grid-area: display;
    background-color: whitesmoke;
    color: black;
    padding-right: 8px;
    text-align: end;
    font-size: 80px;
}

.item-clear {
    grid-area: clear;
}

.item-divide {
    grid-area: divide;
}

.item-7 {
    grid-area: seven;
}

.item-8 {
    grid-area: eight;
}

.item-9 {
    grid-area: nine;
}

.item-multiply {
    grid-area: multi;
}

.item-4 {
    grid-area: four;
}

.item-5 {
    grid-area: five;
}

.item-6 {
    grid-area: six;
}

.item-subtract {
    grid-area: minus;
}

.item-1 {
    grid-area: one;
}

.item-2 {
    grid-area: two;
}

.item-3 {
    grid-area: three;
}

.item-add {
    grid-area: plus;
}

.item-0 {
    grid-area: nada;
}

.item-equal {
    grid-area: equal;
    background-color: #DEB835;
    color: black;
}
